$name: modal;

.#{$name} {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	align-items: flex-start;
	justify-content: center;
	overflow-x: hidden;
	padding: 0;
	overflow-y: hidden;
	display: none;

	@include screen-sm() {
		padding: 5% 15px 30px;
		overflow-y: auto;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		background-color: white;
		position: relative;
		transform: scale(.9);
		overflow: auto;
		opacity: 0;
		transition: $duration ease transform, $duration linear opacity;

		@include screen-sm() {
			width: 600px;
			max-width: 100%;
			height: auto;
		}

		&_row {

			@include screen-sm() {
				flex-direction: row;
			}
		}

		&_visible {
			transition: $duration * 2 ease transform, $duration linear opacity;
			transform: none;
			opacity: 1;
		}
	}

	&__head {
		padding: 30px 15% 15px;
		text-align: center;
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 1;
		width: 30px;
		height: 30px;
	}

	&__body {
		position: relative;
		padding: 15px;

		@include screen-sm() {
			padding: 15px 15% 50px;
		}
	}

	&__form {
		display: block;
		width: 100%;

		@include screen-sm() {
			padding: 0 15%;
		}
	}

	&__btn {

		@include screen-sm(max) {
			display: block;
			width: 100%;
			max-width: 350px;
			margin: 0 auto;
		}
	}

	&__desc {
		color: $color-gray-dark;
	}

	&_visible {
		display: flex;
	}
}