$name: arrow;

.#{$name} {
	@extend %transition;
	background-color: $color-second;
	border: none;
	cursor: pointer;
	outline: none;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 40%;
		height: 40%;
		background: url('../img/icons/arrow.svg') no-repeat center / contain;
	}

	&:hover,
	&:focus {
		background-color: $color-second-hover;
	}

	&:active {
		background-color: $color-second-active;
	}

	&_left {

		&::after {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}
}