$name: cat;

.#{$name} {
	@extend %transition;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;

	&:hover {
		background: rgba($color-text, .65);

		.#{$name} {
			// =====

			&__title {
				background: $color-second;
			}

			&__img-wrap {

				@include screen-lg() {
					opacity: 1;
				}
			}
		}
	}

	&__wrap {
		padding: 30px 10px 10px;

		@include screen-lg() {
			padding: 10rem 10px 0;
		}
	}

	&__icon-wrap {
		width: 25%;
		margin: 0 auto 20px;
	}

	&__title-wrap {
		margin: 0 -10px 20px;
		text-align: center;
	}

	&__title {
		@extend %transition;
		display: inline-block;
		padding: 7px 10px;
		line-height: 1.2;
		word-break: break-word;
	}

	&__list-wrap {
		margin-bottom: 20px;
	}

	&__img-wrap {
		@extend %transition;
		display: none;

		@include screen-lg() {
			display: block;
			margin: auto -50px -50px 50px;
			opacity: 0;
		}
	}

	&__img {
		background: no-repeat center / contain;
		padding-bottom: 100%;
		width: 100%;
	}
}