$name: link;

.#{$name} {
	@extend a:not([class]);

	&_line_none {
		border-bottom: none;
	}

	&_color_white {
		color: white;

		&:hover,
		&:focus {
			color: $color-gray-dark;
		}

		&:active {
			color: $color-gray-dark-active;
		}
	}

	&_color_text {
		color: $color-text;

		&:hover,
		&:focus {
			color: lighten($color-text, 20%);
		}

		&:active {
			color: black;
		}
	}
}