$name: main;

.#{$name} {
	flex: 1 0 auto;
	padding-top: $height-header-mobile;

	@include screen-sm() {
		padding-top: $height-header;
	}

	&__separator {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $color-text;
	}

	&__bg-black {
		background: black;
	}
}