$name: main;

.#{$name} {
	flex: 1 0 auto;
	padding-top: $height-header-mobile;

	@include screen-sm() {
		padding-top: $height-header;
	}

	&__separator {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $color-text;
	}

	&__bg-black {
		background: black;
	}

	&__no-pad_sm {

		@include screen-sm(max) {
			padding: 0;
		}
	}

	&__cat-row {
		margin: 0;
	}

	&__cat-col {
		padding: 0;
		border-bottom: 1px solid $color-light;

		&:last-child {
			border-bottom: none;
		}

		@include screen-sm() {
			border-left: 1px solid $color-light;

			&:nth-child(even) {
				border-right: 1px solid $color-light;
			}

			&:nth-last-child(1),
			&:nth-last-child(2) {
				border-bottom: none;
			}
		}

		@include screen-lg() {
			border-bottom: none;

			&:nth-child(even) {
				border-right: none;
			}

			&:last-child {
				border-right: 1px solid $color-light;
			}
		}
	}
}