include ../components/toggle
include ../components/webc
include ../mixins/partner
include ../mixins/logo
include ../mixins/icon
include ../mixins/banner
include ../mixins/cat

.container

	.row.main__separator

		.col-12
			p Lorem ipsum dolor sit amet,
				|
				|
				a(href='#') consectetur adipisicing
				|
				| elit. Aspernatur cumque dicta distinctio et elit. Aspernatur cumque dicta distinctio et ex expedita facere incidunt iste neque nostrum, nulla officia quis recusandae reiciendis, rem repellat velit veniam voluptatibus?
		.col-12
			.main__bg-black
				p.text-white .text-white

	.row.main__separator

		.col-1
			a.link(href='#') .link

		.col-2
			a.link.link_line_none(href='#') .link.link_line_none

		.col-2.main__bg-black
			a.link.link_color_white(href='#') .link.link_color_white

		.col-2
			a.link.link_color_text(href='#') .link.link_color_text

	.row.main__separator

		.col-3
			.text-icon
				| .text-icon
				+svg('tel', 'text-icon__img')

	.row.main__separator

		.col-4
			ul.list
				li.list__item .list
				li.list__item .list
				li.list__item .list

	.row.main__separator

		.col-12.mb-15
			.title .title

		.col-12.mb-15
			.title.title_size_lg .title.title_size_lg

		.col-12.mb-15
			.title.title_size_sm .title.title_size_sm

		.col-12.mb-15
			.title.title_size_xs .title.title_size_xs

		.col-12.mb-15
			.title.title_size_xxs .title.title_size_xxs

		.col-12.mb-15
			.title.title_upper .title.title_upper

		.col-12.mb-15
			.title.title_color_main .title.title_color_main

		.col-12.mb-15
			.title.title_color_second .title.title_color_second

		.col-12.mb-15
			.title.title_font_second .title.title_font_second

	.row.main__separator

		.col-2.mb-15
			.btn .btn

		.col-2.mb-15
			a.btn(href='#') a.btn

		.col-2.mb-15
			input.btn(type='button' value='input.btn')

		.col-2.mb-15
			button.btn button.btn

		.col-3.mb-15
			.btn.btn_wide .btn.btn_wide

	.row.main__separator

		.col-1.mb-15
			.arrow

		.col-1.mb-15
			.arrow.arrow_left
	.row.main__separator

		.col-2.mb-15
			+partner({
				link: '#',
				img: 'img/content/partner.png'
			})

		.col-2.mb-15
			+partner

	.row.main__separator

		.col-12
			+toggle

	.row.main__separator

		.col-2
			+logo

		.col-2.main__bg-black
			+logo(class='logo_color_white')

	.row.main__separator

		.col-1
			+icon({
				icon: 'basket',
				link: '#'
			})

		.col-1
			+icon({
				icon: 'basket',
				link: '#'
			})(class='icon_color_main')

		.col-1.main__bg-black
			+icon({
				icon: 'basket',
				link: '#'
			})(class='icon_color_white')

		.col-1
			+icon({
				icon: 'basket'
			})

	.row.main__separator

		.col-6.mb-15
			+banner({
				img: 'img/content/action.jpg'
			})

		.col-6.mb-15
			+banner({
				img: 'img/content/action.jpg'
			})(class='banner_contain')

		.col-6.mb-15
			+banner({
				link: '#',
				img: 'img/content/action.jpg'
			})

	.row.main__separator

		.col-12.mb-15
			.slider
				.slider__body

					- for (var i = 0; i < 2; i++) {
						.slider__item
							+banner({
								img: 'img/content/action.jpg'
							})
					- }

		.col-12.mb-15
			.slider(
				data-sm-cols='2'
				data-md-cols='3'
				data-lg-cols='4'
			)
				.slider__body

					- for (var i = 0; i < 6; i++) {
						.slider__item
							+banner({
								img: 'img/content/action.jpg'
							})
					- }

	.row.main__separator

		.col-12.mb-15
			+webc

	.row.main__separator

		.col-3.mb-15.main__bg-black
			+cat(cat[0])