.container

	.row.main__separator

		.col-12
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cumque dicta distinctio et ex expedita facere incidunt iste neque nostrum, nulla officia quis recusandae reiciendis, rem repellat velit veniam voluptatibus?
		.col-12
			.main__bg-black
				p.text-white .text-white

	.row.main__separator

		.col-4
			ul.list
				li.list__item .list
				li.list__item .list
				li.list__item .list

	.row.main__separator

		.col-12.mb-15
			.title .title

		.col-12.mb-15
			.title.title_size_lg .title.title_size_lg

		.col-12.mb-15
			.title.title_size_sm .title.title_size_sm

		.col-12.mb-15
			.title.title_size_xs .title.title_size_xs

		.col-12.mb-15
			.title.title_size_xxs .title.title_size_xxs

		.col-12.mb-15
			.title.title_upper .title.title_upper

		.col-12.mb-15
			.title.title_color_main .title.title_color_main

		.col-12.mb-15
			.title.title_color_second .title.title_color_second

		.col-12.mb-15
			.title.title_font_second .title.title_font_second

	.row.main__separator

		.col-2.mb-15
			.btn .btn

		.col-2.mb-15
			a.btn(href='#') a.btn

		.col-2.mb-15
			input.btn(type='button' value='input.btn')

		.col-2.mb-15
			button.btn button.btn

		.col-3.mb-15
			.btn.btn_wide .btn.btn_wide

	.row.main__separator

		.col-1.mb-15
			.arrow

		.col-1.mb-15
			.arrow.arrow_left