include ../components/toggle
include ../mixins/logo
include ../mixins/icon

// HEADER
header.header
	.container.header__wrap
		.header__row

			.header__col.header__col_left

				.header__toggle-wrap
					+toggle(class='js-aside__toggle header__toggle')

				.header__logo-wrap
					+logo

			.header__col.header__col_center
				.title.title_color_main.title_font_second Возводим стены за один день!

			.header__col.header__col_right

				.header__basket-wrap
					+icon({
						icon: 'basket',
						link: '#'
					})

				.header__tel-wrap
					.header__tel
						.title.title_size_sm
							a.link.link_line_none.link_color_text(href='tel:+78120000000') +7 (812) 000-00-00
					.header__btn
						a.btn(href='#' data-modal='modal') Заказать консультацию